@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}
/* === Connect fonts === */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('fonts/Roboto-Bold.woff2') format('woff2'),
    url('fonts/Roboto-Bold.woff') format('woff'),
    url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* === Variables === */

:root {
    --accent-color: #CF6F49;
    --first-color: #F5F5F2;
    --second-color: #E7E8E3;

    --font-size-text: 16px;
    --font-size-title-one: 56px;
    --font-size-title-two: 48px;
    --font-size-subtitles: 14px;
    --font-size-title-card: 24px;
}

/* === Main styles === */

/* === Header dropdown button === */

.dropbtn {
    background-color: transparent;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}

/* === BTN === */

.btn {
    padding: 6px 21px;
    border: 1px solid #E7E8E3;
    border-radius: 6px;
}
.active {
    background-color: #CF6F49;
    color: white;
}